{
  "action_permissions": {
    "Deployment": {
      "users": [
        "gh-token-creator"
      ],
      "teams": [
        "jokr-catalog-team"
      ]
    },
    "Build": {
      "users": [
        "ashish-kumar-r",
        "krisztian-sala"
      ],
      "teams": [
        "jokr-catalog-team"
      ]
    }
  }
}