{
  "action_permissions": {
    "Test": {
      "users": [
        "dependabot[bot]",
        "krisztian-sala",
        "stuartmclean",
        "ashish-kumar-r"
        ],
      "teams": [
        "@JOKR-Services/jokr-platform"
      ]
    },
    "Build": {
      "users": [
        "dependabot[bot]",
        "krisztian-sala",
        "stuartmclean",
        "ashish-kumar-r"
      ],
      "teams": [
        "@JOKR-Services/jokr-platform"
      ]
    }
  }
}