{
  "action_permissions": {
    "Test": {
      "users": [
        "dependabot[bot]"
      ],
      "teams": [
        "@JOKR-Services/jokr-platform"
      ]
    },
    "Build": {
      "users": [
        "dependabot[bot]"
      ],
      "teams": [
        "@JOKR-Services/jokr-platform"
      ]
    }
  }
}